# this file is *not* meant to cover or endorse the use of travis, but rather to
# help confirm pull requests to this project.

language: python

env:
  - TOXENV=py33
  - TOXENV=py34

install: pip install tox

script: tox

notifications:
  email: false
